<h1>Välkommen till Eskismas Pysselsida</h1>

<div style="display: block; float: left; width: 40%; margin: 5px;"><img src="/assets/images/Tyger01.png" style="width: 100%;"/></div>
<div style="display: block; float: left; width: 40%; margin: 5px;"><img src="/assets/images/Byxor01.png" style="width: 100%;"/></div>
<div style="display: block; float: left; width: 40%; margin: 5px;"><img src="/assets/images/Tunikor01.png" style="width: 100%;"/></div>
<div style="display: block; float: left; width: 40%; margin: 5px;"><img src="/assets/images/Lappar.png" style="width: 100%;"/></div>

<div style="display: block; float: left; width: 100%; margin: 5px;"><h1>Grattis!</h1></div>
<div style="display: block; float: left; width: 60%; margin: 5px;"><img src="/assets/images/Presentkort.png" style="width: 100%;"/></div>
<div style="display: block; float: left; width: 60%; margin: 5px;"><img src="/assets/images/Presentkort.png" style="width: 100%;"/></div>
<div style="display: block; float: left; width: 60%; margin: 5px;"><img src="/assets/images/Presentkort.png" style="width: 100%;"/></div>
{{outlet}}